.t-container {
  width: 30vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  width: 100%;
  display: flex;
  padding: 12px 18px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: var(--main-gray);
  margin-bottom: 14px;
  box-shadow: 6px 4px 6px 2px rgba(0, 0, 0, 0.45);
  transition: all ease 0.25s;
}

.task-name {
  width: 80%;
  font-size: 1.1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.i-button {
  padding: 6px !important;
  background: var(--secondary-gray) !important;
  border-radius: 5px !important;
  margin-left: 10px !important;
  font-size: 1.2rem !important;
}

.i-button:hover {
  background: rgb(112, 112, 112) !important;
}

.not-done:hover {
  box-shadow: 6px 4px 6px 2px rgba(0, 0, 0, 0.1);
}

.custom-tooltip .MuiTooltip-tooltip {
  background-color: var(--main-blue) !important;
  color: white !important;
  font-size: 12px !important;
  padding: 8px 12px;
  border-radius: 5px;
}

.delete .MuiTooltip-tooltip {
  background: red !important;
}

.f-icon {
  margin-right: 12px;
}

.done {
  box-shadow: none;
  opacity: 0.7;
  background: rgb(158, 157, 157);
}

.done .task-name {
  text-decoration: line-through;
}

.check-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

.custom-checkbox .MuiSvgIcon-root {
  font-size: 1.6rem;
}

.check-btn {
  border-radius: 50% !important;
  padding: 8px !important;
}

.empty-list {
  color: rgb(238, 235, 235);
  margin-top: 1.5rem;
}

.scroll-container {
  flex-direction: column;
  display: flex;
  width: 100%;
  padding: 0px 40px !important;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 35vh;
  padding-top: 20px !important;
}

.field-label {
  color: white !important;
  font-size: 1.1rem !important;
  margin-bottom: 0.3rem;
}

.task-enter {
  animation: fadeInDown 0.5s ease-out;
}

@media screen and (max-width: 1200px) {
  .t-container {
    width: 80vw;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
