.top-container {
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
  height: 70px;
  background: #191b2d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.35);
}

.logo-top {
  width: 18rem;
}

.menus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.menu {
  color: white;
  padding: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all ease 0.3s;
  text-decoration: none;

  &:hover {
    background: #2f3145;
  }
}

.active {
  background: #2f3145 !important;
}

@media screen and (max-width: 500px) {
  .logo-top {
    width: 14rem;
  }
}
