@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

body {
  overflow-x: hidden;
  background: rgb(91, 90, 90);
  font-weight: 500;
}

* {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-container h1 {
  font-size: 1.4rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-container {
  display: flex;
  align-items: center;
  width: 30vw;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.title-container .f-icon {
  font-size: 1.4rem;
  color: white;
  margin-right: 12px;
}

.todo-img {
  width: 3.2rem;
  margin-right: 0.8rem;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/* Para navegadores baseados em Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Deixa o scroll mais fino */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #494949;
  border-radius: 10px;
}

/* Cor e formato da "bolinha" do scroll */
::-webkit-scrollbar-thumb {
  background: #373737;
  border-radius: 10px;
}

/* Ao passar o mouse sobre a barra */
::-webkit-scrollbar-thumb:hover {
  background: #777; /* Um tom mais claro ao passar o mouse */
}

@media screen and (max-width: 1200px) {
  .title-container {
    width: 80vw;
  }
}
