@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

:root {
  --main-gray: rgb(189, 189, 189);
  --secondary-gray: rgb(142, 140, 140);
  --main-blue: #1976d2;
}

body {
  overflow-x: hidden;
  background: #3c3c53;
  font-weight: 500;
}

input {
  font-size: 1rem;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--main-gray);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-blue);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

* {
  font-family: "Montserrat", sans-serif;
}
